*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#020617;
color:white;
}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:#020617;

}

.logo{

display:flex;
align-items:center;
gap:10px;

font-weight:bold;
font-size:20px;

}

.logo img{
width:30px;
}

nav a{

margin-left:30px;

text-decoration:none;
color:white;

font-size:14px;

}

/* HERO */

.hero{

text-align:center;

padding:120px 20px;

background:linear-gradient(
135deg,
#0f172a,
#1d4ed8,
#9333ea
);

}

.hero h1{

font-size:60px;
margin-bottom:20px;

}

.hero p{

font-size:20px;
margin-bottom:30px;

}

.btn{

background:#2563eb;

padding:14px 30px;

border-radius:8px;

text-decoration:none;
color:white;

font-weight:bold;

}

/* VERIFY BOX */

.verify-box{

text-align:center;

padding:60px 20px;

}

.verify-box h2{

margin-bottom:10px;

}

.verify-form{

margin-top:20px;

display:flex;
justify-content:center;
gap:10px;

}

.verify-form input{

padding:14px;

width:300px;

border-radius:6px;

border:none;

}

.verify-form button{

padding:14px 24px;

border:none;

background:#2563eb;

color:white;

border-radius:6px;

cursor:pointer;

}

.demo{

display:block;
margin-top:10px;
opacity:.7;

}

/* RESULT CARD */

.result-card{

max-width:700px;

margin:40px auto;

background:#0f172a;

padding:30px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,.5);

}

.credential{

margin-top:20px;

}

.person{

display:flex;
align-items:center;

gap:20px;

}

.person img{

border-radius:50%;

}

.details{

margin-top:15px;

opacity:.9;

}

/* FEATURES */

.features{

display:flex;

gap:30px;

padding:80px;

justify-content:center;

}

.card{

background:white;

color:black;

padding:30px;

border-radius:10px;

width:300px;

text-align:center;

}

.icon{

font-size:40px;

margin-bottom:10px;

}

/* FOOTER */

footer{

padding:30px;

text-align:center;

background:#020617;

}

.socials a{

margin:10px;

color:white;

text-decoration:none;

}
